body
{
background-image: cover;
}

.heading
{
width: 100%;
text-align: left;
}

.heading h3
{
display: inline;
font-weight: bold;
}

.heading button 
{
float: right;
border: 1px solid white;
}

.big_image
{
width: 100%;
}

#start , #status , #restart
{
font-size: 25px;
}

h4
{
font-size: 30;
font-family: cursive;
color: black;
background-color: maroon;
}